extend layout.jade

block content
    .conatiner 內容
    br 
    | lorem
    h1 Content

    ul
        li
            a(href="") link
        li
            a(href="") link
        li
            a(href="") link

    h2: a(href="#"): span 連結
    h2
        a(href="#")
            span 連結

    .container
        form(action="")
            label(for="email") 請輸入e-mail
            input#email(type="text")
            input#email.form-control.input-sm(type="text")
            input#email(type="text" class="form-control input-sm")
    
    h3 gulp watch